/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../../../static/fonts/open-sans-v16-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../../../static/fonts/open-sans-v16-latin-300.eot?#iefix") format("embedded-opentype"), url("../../../static/fonts/open-sans-v16-latin-300.woff2") format("woff2"), url("../../../static/fonts/open-sans-v16-latin-300.woff") format("woff"), url("../../../static/fonts/open-sans-v16-latin-300.ttf") format("truetype"), url("../../../static/fonts/open-sans-v16-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../../../static/fonts/open-sans-v16-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSans-LightItalic"), url("../../../static/fonts/open-sans-v16-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../../../static/fonts/open-sans-v16-latin-300italic.woff2") format("woff2"), url("../../../static/fonts/open-sans-v16-latin-300italic.woff") format("woff"), url("../../../static/fonts/open-sans-v16-latin-300italic.ttf") format("truetype"), url("../../../static/fonts/open-sans-v16-latin-300italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../../../static/fonts/open-sans-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../../static/fonts/open-sans-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../../../static/fonts/open-sans-v16-latin-regular.woff2") format("woff2"), url("../../../static/fonts/open-sans-v16-latin-regular.woff") format("woff"), url("../../../static/fonts/open-sans-v16-latin-regular.ttf") format("truetype"), url("../../../static/fonts/open-sans-v16-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Open Sans';
  background-color: white;
  color: #555; }
  @media (max-width: 520px) {
    body {
      font-size: 16px; } }


.components-Button-button_button {
  background: #2d4a82;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  height: 56px;
  padding: 0 36px;
  margin: 10px 20px 10px 0;
  display: inline-flex;
  font-size: inherit;
  align-items: center;
  font-weight: bold;
  justify-content: center; }
  @media (max-width: 520px) {
    .components-Button-button_button {
      font-weight: 500;
      padding: 0 28px;
      height: 42px; } }
  .components-Button-button_button:focus, .components-Button-button_button:hover {
    outline: none;
    background: #072742; }

.components-Button-button_center {
  margin: 10px; }

.components-Headline-Headline_headline {
  font-weight: 400;
  line-height: 1;
  margin: 0;
  color: #2d4a82; }

/* Levels */
.components-Headline-Headline_levelOne {
  font-size: 3em;
  text-transform: uppercase; }

.components-Headline-Headline_levelTwo {
  font-size: 2em;
  text-transform: uppercase; }

.components-Headline-Headline_levelThree {
  font-size: 1.5em;
  text-transform: uppercase; }

.components-Section-Section_section {
  margin-bottom: 3em; }

.components-Table-Table_table {
  margin: 20px; }
  .components-Table-Table_table td {
    vertical-align: text-top;
    padding: 0 1em 1em; }
    .components-Table-Table_table td:first-child {
      padding-left: 0; }

@media (min-width: 800px) {
  .components-Grid-Grid_grid {
    float: left;
    width: 45%;
    margin-right: 5%; } }

.components-Link-Link_link {
  color: #2d4a82;
  text-decoration: none; }
  .components-Link-Link_link:hover, .components-Link-Link_link:focus {
    color: #072742;
    text-decoration: underline; }

.sections-Header-Header_header {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  position: relative; }

.sections-Header-Header_small {
  height: auto; }
  .sections-Header-Header_small h1,
  .sections-Header-Header_small h2,
  .sections-Header-Header_small h3 {
    background: #2d4a82;
    color: white; }

.sections-Header-Header_headline {
  display: inline-block;
  background: white;
  padding: 3px 10px 10px; }

.sections-Header-Header_headlineWrap {
  padding: 1em; }

.sections-Header-Header_buttonWrap {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 10px;
  right: 10px;
  display: block; }

.sections-Main-Main_main {
  padding: 20px 16px; }
  @media (min-width: 800px) {
    .sections-Main-Main_main {
      padding: 50px 32px;
      max-width: 860px;
      margin: 0 auto; } }

.sections-Footer-Footer_footer {
  position: relative;
  border-top: 2px solid #555; }

.sections-Footer-Footer_dacgLogo {
  display: inline-block;
  margin: 20px; }
  .sections-Footer-Footer_dacgLogo img {
    width: 100%;
    max-width: 350px; }

.sections-Footer-Footer_links {
  padding: 20px;
  font-size: 0.8em; }
  @media (min-width: 800px) {
    .sections-Footer-Footer_links {
      position: absolute;
      text-align: right;
      bottom: 0px;
      right: 0px; } }


/*# sourceMappingURL=styles.chunk.css.map*/